<span>{{ title }} app is running!</span>
<button [routerLink]="['/seattle']">Seattle</button>
<button [routerLink]="['/chicago']">Chigaco</button>
<button [routerLink]="['/sanjose']">San Jose</button>
<button [routerLink]="['/dallas']">Dallas</button>

<!-- <h1>City: {{city}}</h1>
<h1>Humidity: {{humidity}}</h1>
<h1>Temperature (Current): {{temp}}</h1>
<h1>Temperature (Average): {{temp_avg}}</h1>
<h1>Temperature (High): {{temp_max}}</h1>
<h1>Temperature (Low): {{temp_min}}</h1>
<h1>Status: {{status}}</h1> -->
<router-outlet></router-outlet>